body {
	/*шрифт норм чет не подключается*/
	margin: 0 auto;
	width: 1440px;
}

h6, a {
	margin: 0px;
	padding: 0px;
}

p {
	font-size: 18px;
}

.navbar {
	/*margin-top: 1.5em;
	margin-left: 5.5em;*/
	margin: auto;
	margin-top: 2em;
	width: 1440px;
	border-radius: 100px;
}

.navbar-brand img{
	width: 4em;
	height: 4em;
	margin-right: 2.1em;
}


.nav-item{
	padding-right: 5.2em;
}

.carousel-item img{
	width: 12em;
	height: 12em;
}

.btn-outline-primary {
	border-radius: 100px;
	color: #0264B1;
	border-color: #0264B1;
	box-shadow: 5px 5px 5px rgba(1, 148, 218, 0.5);
}

.auth .btn-outline-primary {
	width: 230px;
}

.popup-holder{
	top: 50%;
    left: 50%;
    width: 525px;
    height: 500px;
    background-color: #0165B3;
    position: absolute;
    margin-left: -262px;
    margin-top: -250px;
    text-align: center;
	border-radius: 8px;
}

.authorization-border{
	height: 63px;
	width: 255px;
	background-color: #0293DC;
    display: inline-block;
	border-radius: 100px;
	margin-top: 20px;
}

.authorization {
	color: #fff;
    text-align: center;
    line-height: 63px;
    font-size: 22px;
}

.popup-name{
	color: #fff;
	padding-top: 17px;
}

.popup-name-border, .popup-contacts-border{
	width: 388px;
	height: 39px;
	background-color: #fff;
	border-radius: 10px;
    display: inline-block;
    border: none;
    padding: 10px;
    outline: none;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
}

.popup-contacts{
	color: #fff;
	padding-top: 17px;
}

.popup-button{
	width: 254px;
	height: 50px;
	margin-top: 26px;
	border-radius: 100px;
	border: none;
	background-color: #fff;
	color:#0165B3;
	font-weight: bold;
	font-size: 18px;
	margin-bottom: 30px;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
}

button:focus {
	outline: none;
}

a.authorization-ref {
	color:#fff;
	text-decoration: underline;
	font-size: 24px;
}

hr {
	background-color: #0193DD;
	height: 10px;
}

.reg-holder {
	width: 1440px;
	text-align: center;
}

.reg_title {
	margin-left: 470px;
	margin-top: 50px;
	color: #fff;
	width: 500px;
	padding: 8px;
    background-color: #0194DA;
    border-radius: 100px;
    display: block;
	font-size: 30px;
}

.field p {
	margin: 60px 0px 5px 0px;
	font-size: 18px;
	color: #0165B3;
}

.field_border, .mail_border, .organization_name_border, .birth_year_border {
	margin-left: 410px;
	display: block;
	width: 618px;
	height: 50px;
	border: 1px solid #0293DC;
	box-sizing: border-box;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 10px;
	outline: none;
	padding: 10px;
}

.mail p, .organization_name p, .birth_year p{
	margin: 5px 0px;
	font-size: 18px;
	color: #0165B3;
}

.reg_button {
	color: #0194DA;
	background: #fff;
	margin: 100px;
	box-shadow: 0px 5px 10px rgba(2, 147, 220, 0.6);
	border-radius: 100px;
	width: 350px;
	height: 61px;
	font-size: 24px;
	border: solid #0194DA;
	display: inline-block;
	transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.reg_button:hover {
	background-color: #0194DA;
	color: #fff;
	border: none;
}

.reg_button:active {
  transform: translateY(4px);
}

.contacts {
	display: flex;
	color: #0165B3;
}

.organization {
	margin-left: 50px;
	margin-left: 100px;
}

.numbers {
	margin-left: 100px;
}

.organization, .number_1, .number_2, .e_mail {
	font-size: 14px;
}

.e_mail {
	text-align: right;
}

.row {
	margin-top: 75px;
	margin-left: 100px;
	margin-bottom: 20px;
}

img {
	max-width:100%;
}

.logo_filfac {
	align-items: right;
}